<div class="flex flex-col justify-center items-center h-screen" style="background: var(--light-background, #EFF4EF);">
    <div class="mb-4">
        <img src="../../assets/images/Logo.png">
    </div>
    <div>
        <h2 class="text-base font-medium text-gray-700">Create Account</h2>
    </div>
    <div class="flex items-center">
        <button class="w-72 sm:w-[368px] h-11 sm:h-[48px] bg-white flex items-center  rounded-full mb-3 "
            style="justify-content: center;">
            <div class="flex items-center">
                <div><img src="../../assets/images/Google 1.png" alt=""></div>
                <div><span class="ml-2 text-base font-medium text-gray-700">Google</span></div>
            </div>
        </button>
    </div>
    <div class="flex items-center">
        <button class="w-72 sm:w-[368px] h-11 sm:h-[48px] bg-white flex items-center  rounded-full mb-3"
            style="justify-content: center;">
            <div class="flex items-center">
                <div><img src="../../assets/images/Facebook 1.png" alt=""></div>
                <div><span class="ml-2 text-base font-medium text-gray-700">Facebook</span></div>
            </div>
        </button>
    </div>
    <div class="flex items-center">
        <button class="w-72 sm:w-[368px] h-11 sm:h-[48px] bg-white flex items-center  rounded-full mb-3"
            style="justify-content: center;">
            <div class="flex items-center">
                <div><img src="../../assets/images/Apple.png" alt=""></div>
                <div><span class="ml-2 text-base font-medium text-gray-700">Apple</span></div>
            </div>
        </button>
    </div>
    <div class="flex items-center mt-1  mb-3" style="justify-content: center;">
        <hr class="border-t-1 border-gray-300 w-28 sm:w-[160px]">
        <p class="text-1xl text-gray-400 mb-4 ml-2 p-2" style="margin: 0 0 0px;">OR</p>
        <hr class="border-t-1 border-gray-300 w-28 sm:w-[160px]">
    </div>

    <div>
        <input
            class="mb-3 w-72 sm:w-[368px] h-11 sm:h-[48px]  placeholder:text-slate-400 block bg-white w-full  rounded-md py-2 pl-5 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
            placeholder="Full Name" type="text" name="search" />
        <input
            class="mb-3 w-72 sm:w-[368px] h-11 sm:h-[48px]  placeholder:text-slate-400 block bg-white w-full  rounded-md py-2 pl-5 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
            placeholder="Email" type="text" name="search" />
        <input
            class="mb-5 w-72 sm:w-[368px] h-11 sm:h-[48px]  placeholder:text-slate-400 block bg-white w-full  rounded-md py-2 pl-5 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
            placeholder="Password" type="text" name="search" />
    </div>
    <div class="flex items-center">
        <button class="w-72 sm:w-[368px] h-11 sm:h-[48px] bg-white flex items-center  rounded-full mb-5"
            style="justify-content: center;background: linear-gradient(91deg, #2CD0AE 0%, #30D574 99.86%, rgba(253, 253, 253, 0.00) 99.86%);">
            <div class="flex items-center">               
                <div><span class="ml-2 text-base font-medium text-gray-700">Sign Up</span></div>
            </div>
        </button>
    </div>
    <div class="my-2"><hr class=" border-t-1 border-gray-300 w-72 sm:w-[360px]"></div>
    <div class="p-3">
        <p class="text-sm font-medium text-gray-700">Already have an account? <a class="ml-1  text-base font-medium text-green-500 underline underline-offset-1" href="">Sign In</a> </p>
    </div>
</div>