<div class="signup-container" style="background: var(--light-background, #EFF4EF);">
    <div class="headimg"><img src="../../assets/images/Logo.png"></div>
    <div>
        <p class="headtext">Create an Account</p>
    </div>

    <button class="custom-button" mat-fab extended color="secondary">
        <div class="btnimgtext">
            <div><img src="../../assets/images/Google 1.png" alt=""></div>
            <div><span>Google</span></div>
        </div>
    </button>
    <button mat-fab extended color="secondary" style="width: 368px;color: #2F3935;">
        <!-- <i class="fab fa-facebook-f" style="color: #1877F2;"></i> -->
        <!-- <i class="fa-brands fa-facebook"></i> -->
        <i class="fab fa-facebook"></i>
        Facebook
    </button>
    <button mat-fab extended color="secondary" style="width: 368px;color: #2F3935;">
        <!-- <i class="fab fa-facebook-f" style="color: #1877F2;"></i> -->
        <!-- <i class="fa-brands fa-facebook"></i> -->
        <!-- <i class="fab fa-facebook"></i> -->
        <i class="fab fa-apple"></i>
        Apple
    </button>

    <div class="or-separator my-4">
        <span class="text-1xl text-neutral-400 ">OR</span>
    </div>

    <form class="example-form">
        <mat-form-field class="example-full-width ">

            <input matInput placeholder="Full Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">

            <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">

            <input matInput placeholder="Password">
        </mat-form-field>
    </form>
    <button mat-fab extended color="secondary"
        style="width: 368px; height: 48px; background: linear-gradient(91deg, #2CD0AE 0%, #30D574 99.86%, rgba(253, 253, 253, 0.00) 99.86%);">
        <!-- <mat-icon>person_add</mat-icon> -->
        Sign Up
    </button>
    <hr class="responsive-hr">

    <div class="divpara p-3">
        <p class="lastpara ">Already have an account? <a href="">Sign In</a> </p>
    </div>

</div>