<p>newtwo works!</p>
<!-- <div class="abc">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, autem.</p>
</div>

<div class="bg-black-600 text-black sm:text-green text-3xl p-3 border-2 border-red-500 hover:border-green-500/50 ">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quisquam.</p>
</div>

<br><br>


<div class="border-4 border-indigo-500 hover:border-red-500 p-5 text-3xl text-blue-500">
  <p>Lorem ipsum dolor sit amet. add favicon</p>
</div>
<br><br><br><br><br><br>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

<br><br>

<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<br><br>

<h3>Extended Fab</h3>
<div class="example-button-row">
  <button mat-fab extended color="primary">
    <mat-icon>favorite</mat-icon>
    Primary
  </button> <br><br>
  
  <button mat-fab extended disabled style="width: 500px;">
    <mat-icon>favorite</mat-icon>
    Disabled
  </button>
  
</div> -->

<!-- <div class="bg-indigo-600 text-black sm:text-green text-3xl p-3 border-2 border-red-500 hover:border-green-500/50 ">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quisquam.</p>
</div> -->

<!-- <h1>customize</h1> -->
<!-- <div class="center-container bg-green-50">
  <div class="example-button-row">
  
    <button mat-fab extended disabled style="width: 500px;">
      <mat-icon>favorite</mat-icon>
      Disabled
    </button>
    
    <button mat-fab extended disabled style="width: 500px;">
      <mat-icon>favorite</mat-icon>
      Disabled
    </button>
  </div>
</div> -->


<div class="signup-container" style="background: var(--light-background, #EFF4EF);">
    <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
    <button mat-fab extended color="secondary" 
    style="width: 368px; height: 48px; background: linear-gradient(91deg, #2CD0AE 0%, #30D574 99.86%, rgba(253, 253, 253, 0.00) 99.86%);">
    <mat-icon>person_add</mat-icon>
      Sign Up
    </button>
  
    <div class="or-separator">
      <span>OR</span>
    </div>
  
    <button mat-fab extended color="secondary" style="width: 368px; color: #2F3935;">
      <!-- <mat-icon>person_add</mat-icon>
      <mat-icon class="material-icons">account_circle</mat-icon> -->
      <i class="fab fa-google" style="color: #DB4437;"></i>
      Google
    </button>
    <button mat-fab extended color="secondary" style="width: 368px;color: #2F3935;">   
      <!-- <i class="fab fa-facebook-f" style="color: #1877F2;"></i> -->
      <!-- <i class="fa-brands fa-facebook"></i> -->
      <i class="fab fa-facebook"></i>
      Faceboo
    </button>
  
    <hr class="responsive-hr">
  </div>